{% extends "base.html" %}
{% block title %}{{coach.name}}{% endblock %}
{% block content %}
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{coach.name}} {{coach.surname}}</h3>
	  </div>
	  <div class="panel-body">
	    drużyny trenera:
	    <table class="table table-hover">
			<tr>
				<th> Nazwa </th>
			</tr>
			<br>
			{% for team in teams %}
			<tr>
			    <td>
			         <a href="{% url 'team' team.id %}"> {{ team.name }} </a>
			    </td>
			</tr>
			{% endfor %}
		</table>
	  </div>
	  <div class="panel-body">
	    Turnieje, w których zawodnicy trenera brali udział:
	    <table class="table table-hover">
			<tr>
				<th> Nazwa </th>
				<th> Data rozpoczęcia </th>
				<th> Data zakończenia </th>
			</tr>
			<br>
			{% for tournament in tournaments %}
			<tr>
			    <td>
			         <a href="{% url 'kyoTournamentOrganization' tournament.id %}"> {{ tournament.name }} </a>
			    </td>
			    <td>
			        {{ tournament.start }}
			    </td>
			    <td>
			        {{ tournament.end }}
			    </td>
			</tr>
			{% endfor %}
		</table>
	  </div>
	</div>
{% endblock %}
