{% extends "base.html" %}

{% block title %}strona glowna{% endblock %}
{% block header %}
Aktualnie rozgrywane turnieje:
{% endblock %}
{% block content %}
<div class="container-fluid">
	<table class="table table-hover">
		<tr>
			<th> Nazwa: </th>
			<th> Data rozpoczęcia: </th>
			<th> Data zakończenia: </th>
			<th> Typ turnieju: </th>
		</tr>
		<br>
		{% for tournament in tournaments %}
		<tr>
		    {%if tournament.type == "KYO" %}
            <td><a href="{% url 'kyoTournamentOrganization' tournament.id %}">{{tournament.name}}</a></td>
            {% else %}
            <td><a href="{% url 'shoTournamentOrganization' tournament.id %}">{{tournament.name}}</a></td>
            {%endif%}
			
		    <td>
		        {{ tournament.start }}
		    </td>
		    <td>
		        {{ tournament.end }}
		    </td>
			<td>
		        {{ tournament.type }}
		    </td>
		
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
